body {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    background-color: #fefefe;
}

h1 {
    font-size: 24px;
}

.title {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 3px;
    padding-left: 10px;
    width: 100%;
    height: 54px;
    background-color: #eeeeee;
    z-index: 100;
    color: #0f0f0f;
}

.title div{
    font-size: 26px;
    width: 40%;
    letter-spacing: 0px;
    transition: letter-spacing 1s;
}

.title div:hover{
    letter-spacing: 10px;
}

.content {
    margin-left: 12.5%;
    margin-top: 90px;
    width: 75%;
    color: #0f0f0f;
}

.content div{
    border: 0px solid #000;
    border-radius: 10px;
    background-color: #efefefcc;
    padding: 2px;
    padding-left: 10px;
    margin-top: 10px;
}

.content div {
    text-align: center;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #0f0f0f;
    font-weight: bold;
    transition: color 0.5s ease-in-out;
}

a:hover, a:active {
    color: #444;
}

.iewarning {
    display: none;
    text-align: right;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .content div{
        background-color: #efefef;
    }
    .title div{
        display: inline-block;
    }
    .iewarning {
        display: inline-block;
    }
}

@supports (-ms-accelerator:true) {
    .content div{
        background-color: #efefef;
    }
    .title div{
        display: inline-block;
    }
    .iewarning {
        display: inline-block;
    }
}

@supports (-ms-ime-align:auto) {
    .content div{
        background-color: #efefef;
    }
    .title div{
        display: inline-block;
    }
    .iewarning {
        display: inline-block;
    }
}

input[type="submit"] {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    height: 24px;
    border: 0px solid #fff;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #777;
    color: #ffffff;
    cursor: pointer;
    animation: hover .5s ease-in-out;
}

input[type="submit"]:not(:hover) {
    animation: nohover .5s ease-in-out;
}

input[type="number"] {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    color: #fff;
    width: 180px;
    height: 20px;
    background: #555;
    border: 0px solid #fff;
    border-radius: 5px;
    padding: 2px;
    outline: none;
}